/* HEADER */
/* header-top */
.fl_header-top{
  background-color: black;
}
.fl_header-top img{
  width: 100px;
  padding-right: 10px;
}
/* header-bottom */
.fl_header-bottom{
  height: 80px;
}
.navbar .container-fluid img{
  width: 50px;
  margin-right: 20px;
}
.nav-link{
  color: black!important;
}
.fl_point{
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: cornflowerblue;
}
.fa-magnifying-glass{
  padding-top: 8px;
  font-size: 20px;
  cursor: pointer;
}
.nav-link{
  font-weight: 600;
}
.nav-link:hover{
  color: blue!important;
}
.dropdown-toggle::after {
  display: none;
}
.fa-angle-down{
  color: grey;
}
.nav-link:hover .fa-angle-down{
  color: blue;
}

/* JUMBOTRON */
.fl_jumbotron-top{
  height: 700px;
  background-image: url(../img/jumbo-bg.png);
  background-position:center;
  background-size: cover;
  padding-top: 270px;
}
.fl_img_returnal-hero-banner, .fl_img_ps-plus-logo{
  width: 100%;
}
.fl_jumbotron-top .container .row{
  animation: movimento-up 1.5s linear;
}
@keyframes movimento-up{
    0%{
      transform: translateY(15px);
    }
    0%{
      opacity: calc(0);
    }
    100%{
      opacity: calc(1);
    }
}
.fl_jabotron-botton-hover:hover{
  transform: translate(0, -10%);
  transition: 1s;
  opacity: 100%!important;

}
.jumbotron-bottom .container .row .box{
  padding: 0px;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
  cursor: pointer;

}
.jumbotron-bottom .container .row .box:hover{
  box-shadow: 5px 10px 10px #aaaaaa;

}
.jumbotron-bottom .container .row .box img{
  width: 100%;
  border-radius: 20px;
  box-shadow: 10px 10px 15px #aaaaaa;
}
.fl_img-padding{
  padding: 2px;
}
.fl_box-outline{
  outline: 2px solid blue;
}


/* PRESENTAZIONE PRODOTTO */
.fl_box_presentaction-product h6{
  color: blue;
}

/* <!-- lista prodotti --> */
.fl_box_list-prodact{
  height: 100%;
  cursor: pointer;
}
.fl_box_list-prodact img{
  width: 80%;
  margin-bottom: 20px;
}
.fl_box_list-prodact:hover .fl_p-active{
  color: black;
}
.fl_box_list-prodact{
  border-bottom: 4px solid white;
  opacity: 70%;
}
.fl_box_list-prodact:hover{
  border-bottom: 4px solid rgb(3, 128, 200);
  opacity: 100%;
}

/* NUOVE USCITE */
.fl_new-releases_top{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  padding-top: 80px;
}
.fl_img_it-takes-two-logo{
  width: 100%;
}
.fl_new-releases_bottom{
  background-color: black;
}
.fl_new-releases_bottom{
  background-color: rgba(31,31,31,255)
  ;
}
.fl_new-releases_bottom .container .row div img{
  border-radius: 20px;
  transition: 1s;
  margin-bottom: 10px;
}
.fl_new-releases_bottom .container .row div img:hover{
  transform: scale(1.05);
  cursor: pointer;
}
.fl_new-releases_top .container .row:hover{
  animation: movimento-up 1.5s linear;
}
@keyframes movimento-up{
    0%{
      transform: translateY(15px);
    }
    0%{
      opacity: calc(0);
    }
    100%{
      opacity: calc(1);
    }
}
.fl_presentaction-ps4 .container .row div img{
  cursor: pointer;
}

/* PLAYSTATION-PLUS */
.fl_playstation-plus{
  background-color: rgba(190,188,187,255);
}
.fl_img_ps-plus-logo{
  width: 70%;
}

/* PLAYSTATION-STORE */
.fl_playstation-store .container .row div img{
  transition: 1s;
  border-radius: 35px;
}
.fl_playstation-store .container .row div img:hover{
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 10px 10px 15px #aaaaaa;
}

/* PLAYSTATION-NOW */
.fl_playstation-now{
  background-color: rgba(22,28,59,255);
}

/* FOLLOW SOCIAL */
.fl_follow-social .container .row div .row div .row div img{
  transition: 1s;
  border-radius: 25px;
}
.fl_follow-social .container .row div .row div .row div img:hover{
  transform: scale(1.05);
  cursor: pointer;
  box-shadow: 10px 10px 15px #aaaaaa;
}

footer
{
  background-color: rgba(0,67,156,255);
}
.fl_img_sie-logo{
  width: 140px;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}
.fl_img_ps-footer{
  width: 100px;
}
.fa-globe{
  margin-right: 15px;
  font-size: 20px;
}
.fl_ul_white li{
  list-style: none;
  margin: 20px 0;

}
.fl_ul_white li a{
  text-decoration: none;
  color: white;
}





/* ELEMENTS */
.fl_btn{
  border-radius: 20px;
  padding: 5px 15px 8px 15px!important;
}
.fl_btn-over{
    padding: 5px 15px 8px 15px!important;
    color: white;
}
.fl_btn-span-over:hover{
  border: 2px solid white;
}
.fl_bnt-red{
  background-color: red;
  border-color: red;
}
/* .fl_bnt-red:hover{
  background-color: red;
  border: 4px solid white;
  outline: 2px solid red;
} */
.fl_btn-width{
  max-width: 240px;
}
.fl_btn-width-small{
  max-width: 130px;
}
.fl_btn-outline-primary{
  background-color: rgba(255,255,255,.28);
  border: none;
  color: blue;
}
.fl_btn-outline-dark{
  background-color: white;
  border: none;
  width: 210px;
  outline: 1px solid grey;
}
.fl_btn-outline-dark:hover{
  outline: 1px solid grey;
}
.fl_outline-blue:hover{
  box-shadow: 0 0 0 2px blue!important;
  outline: none;
}
.fl_text-grey{
  color: grey;
}
img{
  width: 100%;
}
.fl_font-small{
  font-size: 7px;
}
.fl_row{
  height: 80%;
}

