/* HEADER */
/* header-top */
.fl_header-top{
  background-color: black;
}
.fl_header-top img{
  width: 100px;
  padding-right: 10px;
}
/* header-bottom */
.fl_header-bottom{
  height: 80px;
}
.navbar .container-fluid img{
  width: 50px;
  margin-right: 20px;
}
.nav-link{
  color: black!important;
}
.fl_point{
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: cornflowerblue;
}
.fa-magnifying-glass{
  padding-top: 8px;
  font-size: 20px;
  cursor: pointer;
}

/* JUMBOTRON */
.fl_jumbotron-top{
  height: 700px;
  background-image: url(../img/jumbo-bg.png);
  background-position:center;
  background-size: cover;
  padding-top: 270px;
}
.fl_img_returnal-hero-banner, .fl_img_ps-plus-logo{
  width: 100%;
}
.jumbotron-bottom .container .row .box{
  padding: 2px;
  border-radius: 20px;
  overflow: hidden;
  width: 100%;
}
.jumbotron-bottom .container .row .box:hover{
  border: 2px solid blue;
  padding: 2px 4px;
}
.jumbotron-bottom .container .row .box img{
  width: 100%;
  border-radius: 20px;
}

/* PRESENTAZIONE PRODOTTO */
.fl_box_presentaction-product h6{
  color: blue;
}

/* <!-- lista prodotti --> */
.fl_box_list-prodact{
  height: 100%;
}
.fl_box_list-prodact img{
  width: 80%;
  margin-bottom: 20px;
}
.fl_box_list-prodact:hover .fl_p-active{
  color: black;
}
.fl_box_list-prodact:hover{
  border-bottom: 2px solid rgb(28, 165, 245);
}

/* NUOVE USCITE */
.fl_new-releases_top{
  background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
  padding-top: 80px;
}
.fl_img_it-takes-two-logo{
  width: 100%;
}
.fl_new-releases_bottom{
  background-color: black;
}
.fl_new-releases_bottom{
  background-color: rgba(31,31,31,255)
  ;
}
.fl_new-releases_bottom .container .row div img{
  border-radius: 20px;
}

/* PLAYSTATION-PLUS */
.fl_playstation-plus{
  background-color: rgba(190,188,187,255);
}

/* PLAYSTATION-NOW */
.fl_playstation-now{
  background-color: rgba(22,28,59,255);
}

footer
{
  background-color: rgba(0,67,156,255);
}
.fl_img_sie-logo{
  width: 140px;
  text-align: left;
  margin-left: 0;
  padding-left: 0;
}
.fl_img_ps-footer{
  width: 100px;
}
.fa-globe{
  margin-right: 15px;
  font-size: 20px;
}
.fl_ul_white li{
  list-style: none;
  margin: 20px 0;

}
.fl_ul_white li a{
  text-decoration: none;
  color: white;
}





/* ELEMENTS */
.fl_btn{
  border-radius: 20px;
  padding: 5px 15px 8px 15px!important;
}
.fl_bnt-red{
  background-color: red;
  border-color: red;
}
.fl_bnt-red{
  background-color: red;
  border-color: red;
}
.fl_btn-width{
  max-width: 200px;
}
.fl_btn-width-small{
  max-width: 130px;
}
.fl_btn-outline-primary{
  background-color: rgba(255,255,255,.28);
  border: none;
  color: blue;
}
.fl_btn-outline-dark{
  background-color: white;
  border: none;
  width: 210px;
  outline: 1px solid grey;
}
.fl_text-grey{
  color: grey;
}
img{
  width: 100%;
}
.fl_font-small{
  font-size: 7px;
}
.fl_row{
  height: 80%;
}


